Source: noise
Section: sound
Priority: optional
Maintainer: Devid Antonio Filoni <d.filoni@ubuntu.com>
Build-Depends: cmake (>= 2.6),
               debhelper (>= 9),
               libdbus-glib-1-dev,
               libdbusmenu-glib-dev (>= 0.4),
               libdbusmenu-gtk3-dev,
               libgee-0.8-dev,
               libglib2.0-dev,
               libgpod-dev,
               libgranite-dev,
               libgstreamer-plugins-base1.0-dev,
               libgstreamer1.0-dev,
               libgtk-3-dev (>= 3.8),
               libindicate-dev (>= 0.6),
               libjson-glib-dev (>= 0.10),
               libnotify-dev (>= 0.5.0),
               libpeas-dev (>= 1.2.0),
               libsoup2.4-dev (>= 2.25.2),
               libsqlheavy0.1-dev (>= 0.0) | libsqlheavy-dev,
               libtagc0-dev (>= 1.6.3),
               libxml2-dev (>= 2.7.7),
               libzeitgeist-dev,
               valac (>= 0.18)
Standards-Version: 3.9.2
Homepage: https://launchpad.net/noise

Package: noise
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Description: Simple, fast, and elegant music player
 Noise is an easy to use, stable, fast and good looking music library
 organizer written in vala.
 .
 It has many modern features including Last.FM integration to download
 artwork, information, and scrobble your music, playlists and smart playlists,
 find music similar to the currently playing song, simple UI, fast searching
 for music, queue system, mass song editing and more...

Package: noise-dbg
Architecture: any
Section: debug
Priority: extra
Depends: noise (= ${binary:Version}), ${misc:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Enhances: noise
Description: Simple, fast, and elegant music player (debugging symbols)
 Noise is an easy to use, stable, fast and good looking music library
 organizer written in vala.
 .
 It has many modern features including Last.FM integration to download
 artwork, information, and scrobble your music, playlists and smart playlists,
 find music similar to the currently playing song, simple UI, fast searching
 for music, queue system, mass song editing and more...
 .
 This package contains debugging symbols for Noise.

Package: libnoise-core0
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Recommends: noise
Conflicts: noise (<< 0.2.1+r1487)
Description: Simple, fast, and good looking music player (core library)
 Noise is an easy to use, stable, fast and good looking music library
 organizer written in vala.
 .
 It has many modern features including Last.FM integration to download
 artwork, information, and scrobble your music, playlists and smart playlists,
 find music similar to the currently playing song, simple UI, fast searching
 for music, queue system, mass song editing and more...
 .
 This package contains the shared library.

Package: libnoise-core0-dbg
Architecture: any
Section: debug
Priority: extra
Depends: libnoise-core0 (= ${binary:Version}), ${misc:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Recommends: noise-dbg
Description: Simple, fast, and good looking music player (core library)
 Noise is an easy to use, stable, fast and good looking music library
 organizer written in vala.
 .
 It has many modern features including Last.FM integration to download
 artwork, information, and scrobble your music, playlists and smart playlists,
 find music similar to the currently playing song, simple UI, fast searching
 for music, queue system, mass song editing and more...
 .
 This package contains debugging symbols for the shared library.

Package: libnoise-core-dev
Section: libdevel
Architecture: any
Depends: libnoise-core0 (= ${binary:Version}), ${misc:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Conflicts: noise (<< 0.2.1+r1487)
Description: Simple, fast, and good looking music player (development files)
 Noise is an easy to use, stable, fast and good looking music library
 organizer written in vala.
 .
 It has many modern features including Last.FM integration to download
 artwork, information, and scrobble your music, playlists and smart playlists,
 find music similar to the currently playing song, simple UI, fast searching
 for music, queue system, mass song editing and more...
 .
 This package contains the development files.
