Source: beatbox
Section: sound
Priority: optional
Maintainer: Devid Antonio Filoni <d.filoni@ubuntu.com>
Build-Depends: debhelper (>= 7.0.50~), valac-0.12 (>= 0.11.6), libgtk2.0-dev
 (>= 2.16.0), libgee-dev (>= 0.5.3), libgstreamer0.10-dev (>= 0.10),
 libtagc0-dev (>= 1.6.3), libsqlheavy-dev,
 libxml2-dev (>= 2.7.7), libgconf2-dev (>= 2.31.91), libnotify-dev (>= 0.5.0),
 libunique-dev (>= 0.9), libsoup2.4-dev (>= 2.25.2), libjson-glib-dev
 (>= 0.10), libdbus-glib-1-dev
Standards-Version: 3.9.2
Homepage: https://launchpad.net/beat-box

Package: beatbox
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: music player written in vala
 BeatBox is an easy to use, stable, fast and good looking music library
 organizer written in vala.
 .
 It has many modern features including Last.FM integration to download
 artwork, information, and scrobble your music, playlists and smart playlists,
 find music similar to the currently playing song, simple UI, fast searching
 for music, queue system, mass song editing and more...
