Source: io.elementary.music
Section: sound
Priority: optional
Maintainer: elementary, Inc. <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/music

Package: io.elementary.music
Architecture: any
Depends: flatpak, ${misc:Depends}
Replaces: noise
Description: Music player for elementary OS.

Package: noise
Architecture: any
Depends: io.elementary.music, ${misc:Depends}
Section: oldlibs
Priority: optional
Description: transitional dummy package
    This is a transitional dummy package. It can safely be removed.
