#!/usr/bin/make -f

# Enable additional explot mitigation
# (PIE and *full* RELRO at the time of this writing)
export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	dh $@

override_dh_builddeb:
	dh_builddeb -- -Zxz

override_dh_install:
	dh_install --fail-missing

override_dh_strip:
	dh_strip -p libnoise-core0 --dbg-package=libnoise-core0-dbg
	dh_strip -p noise --dbg-package=noise-dbg

