#!/usr/bin/make -f

# Enable additional explot mitigation
# (PIE and *full* RELRO at the time of this writing)
export DEB_BUILD_MAINT_OPTIONS=hardening=+all

%:
	dh $@ --buildsystem=meson

override_dh_builddeb:
	dh_builddeb -- -Zxz

override_dh_install:
	dh_install --fail-missing

override_dh_strip:
	dh_strip -p libnoise-core0 --dbgsym-migration='libnoise-core0-dbg (<< 0.4.2)'
	dh_strip -p noise --dbgsym-migration='noise-dbg (<< 0.4.2)'


