/*
 * SPDX-License-Identifier: LGPL-3.0-or-later
 * SPDX-FileCopyrightText: 2021 elementary, Inc. (https://elementary.io)
 */

album {
    background-image:
        linear-gradient(
            170deg,
            alpha(
                @highlight_color,
                0.1
            ),
            alpha(
                @highlight_color,
                0.15
            ) 43%,
            alpha(
                @highlight_color,
                0
            ) 44%
        ),
        -gtk-icontheme("audio-x-generic-symbolic"),
        linear-gradient(
            to bottom,
            @base_color,
            @base_color
        );
    background-size: cover, 50%, cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: alpha(@insensitive_fg_color, 0.75);
}
