[Desktop Entry]
Type=Application
Version=0.2 (beta)
Name=BeatBox
GenericName=Music Player
Comment=Listen to music and podcasts
Exec=beatbox
Icon=beatbox
Terminal=false
Categories=GNOME;Audio;Music;Player;AudioVideo;
MimeType=x-content/audio-player;
StartupNotify=true
