[Desktop Entry]
Type=Application
Version=0.1
Name=BeatBox
GenericName=Music Player
Exec=beat-box
Icon=beatbox
Terminal=false
Categories=GNOME;Audio;Music;Player;AudioVideo;
MimeType=x-content/audio-player;
StartupNotify=true
