[Desktop Entry]
Type=Application
Version=1.0
Name=Noise
GenericName=Music Player
Comment=Listen to music
Exec=noise
Icon=noise
Terminal=false
Categories=GNOME;Audio;Music;Player;AudioVideo;
MimeType=x-content/audio-player;
StartupNotify=true
