name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    container:
      image: elementary/docker:unstable

    steps:
    - uses: actions/checkout@v1
    - name: Install Dependencies
      run: |
        apt update
        apt install -y appstream desktop-file-utils gettext libaccounts-glib-dev libgda-5.0-dev libgee-0.8-dev libglib2.0-dev libgpod-dev libgranite-dev libgstreamer-plugins-base1.0-dev libgstreamer1.0-dev libgtk-3-dev libhandy-1-dev libjson-glib-dev libpeas-dev libsignon-glib-dev libsoup2.4-dev libtagc0-dev libzeitgeist-2.0-dev meson valac
    - name: Build
      run: |
        meson build
        ninja -C build
        ninja -C build install

  flatpak:

    runs-on: ubuntu-latest

    container:
      image: docker.io/bilelmoussaoui/flatpak-github-actions
      options: --privileged

    steps:
    - uses: actions/checkout@v2
    - uses: bilelmoussaoui/flatpak-github-actions@v2
      with:
        bundle: 'io.elementary.music.flatpak'
        manifest-path: 'io.elementary.music.yml'

  lint:

    runs-on: ubuntu-latest

    container:
      image: valalang/lint

    steps:
    - uses: actions/checkout@v1
    - name: Lint
      run: io.elementary.vala-lint -d .
